@model Task4Linkerp.ViewModel.Region.DetailsRegionViewModel
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Details";
    City c= ViewBag.City;
}
<div style="text-align:right" class="mb-2">
    <a asp-action="Index" class="btn"><i class="fa-solid fa-angles-left"></i>@localizer["Back to List"]</a>
</div>
<div class="container">
    <div class=" row justify-content-center my-2 ">
        <div class="card col-lg-6 col-md-8 col-sm-10 py-3 mt-5 ">
            <div style="text-align: center;">

                <h2> @Html.DisplayFor(model => model.NameEN)</h2>
            </div>
            <h4> @Html.DisplayNameFor(model => model.Code) : @Html.DisplayFor(model => model.Code)</h4>
            <h4> @Html.DisplayNameFor(model => model.NameEN) :  @Html.DisplayFor(model => model.NameEN)</h4>
            <h4> @Html.DisplayNameFor(model => model.NameAR): @Html.DisplayFor(model => model.NameAR)</h4>
            <h4> @Html.DisplayNameFor(city => city.NameEN): @Html.DisplayFor(city => city.NameEN)</h4>
            <h4> @Html.DisplayNameFor(city => city.NameAR): @Html.DisplayFor(city => city.NameAR)</h4>
            <h1>@localizer["The City of Region"]</h1>
            <span>@localizer["NameEN"]:</span>
            <span>@c.NameEN</span>
            <span>@localizer["NameAR"]:</span>
            <span>@c.NameAR</span>

        </div>
    </div>
</div>
<div class="container">
  
</div>
<style>
    body {
        background-color: #F0F1F3;
    }

    .card {
        background-color: white;
        border-radius: 25px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
    }

    h6,
    h1 {
        color: #FAB005;
        font-family: cursive;
    }

    label,
    h4,
    h2,
    p {
        font-family: cursive;
        color: #183153;
    }

    input {
        border: 10px #183153;
    }

    .icon {
        position: absolute;
        top: calc(43%);
        left: 1.8rem;
    }

    .iconn {
        position: absolute;
        top: calc(58%);
        left: 1.8rem;
    }



    button {
        border-radius: 10px;
        background-color: #FFD43B;
        height: 50px;
        border-top: 2px solid #183153;
        border-left: 2px solid #183153;
        border-right: 2px solid #183153;
        border-bottom: 8px solid #183153;
        font-family: cursive;
        font-weight: bold;
        font-size: 16px;
    }

        button:hover {
            background-color: #FAB005;
        }

    .btn {
        border-radius: 10px;
        background-color: #63E6BE;
        color: #183153;
        height: 50px;
        border-top: 2px solid #183153;
        border-left: 2px solid #183153;
        border-right: 2px solid #183153;
        border-bottom: 8px solid #183153;
        font-family: cursive;
        font-weight: bold;
        font-size: 18px;
    }

</style>
